# Environmental setup Example


# Database
DB_HOST=localhost
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password



# 3rd Party API Keys
PAYMENT_GATEWAY_KEY=your_payment_gateway_key #Paymoney, Stripe, etc.
EMAIL_SERVICE_KEY=your_email_service_key #SendGrid, Mailgun, etc.
